body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  
    margin: 0px;
    padding: 0;
    color: white;
    /*background-color: #101010;*/
    text-align: center;
    /*background: url("https://i.redd.it/bz936c0hlo6x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; */
    overflow: hidden;
    cursor: url(./img_468762.png) 64 64, auto;
  }

  
  #background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -2; 
  }
  
  .stretch {
    width: 100%;
    height: 100%;
  }
  
  canvas {
    /*border: 1px solid #383838;*/
    /* background-color: rgba(0, 0, 0, 0.5); */
    margin: 0;
    padding: 0;
    z-index: 0;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
  }
  
  #game {
    
    position: relative;
    /*display: block;*/
    width: 100%;
    height: 100%;
    /*margin: 0px 25px 0px 10px;*/
    /*padding: 0px 25px 0px 10px;
    /*overflow: hidden;*/
  
    /* background-color: rgba(0, 0, 0, 0.6); */
    /*background: url("https://i.redd.it/bz936c0hlo6x.png");*/
    margin: 0px;
    padding: 0px;
  }
  
  #debug {
    top: 10px;
    left: 10px;
    position: fixed;
    z-index: 10;
    text-align: left;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
  }

  #bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }

  #fire{
    background-image: url(./fire.gif);
    background-position: center;
    background-size: cover;
    transform: translate(-50%);
    position: fixed;
    z-index: 10;
    left: 50%;
    bottom: -500px;
    height: 50%;
    width: 100%;
    transition: all 1s;
    pointer-events: none;
  }
  